log.txt
log.txt.*
*.diff
*.dotCover
*.DotSettings
*.user
*.suo
*.temp
_ReSharper.*
_dotCover.*
*.nupkg
bin/
obj/
packages/
TestResult.xml
*.ReSharper
*.crunchproject.*
*.crunchsolution.*
*.vshost.exe
*.vshost.exe.*
*.exe.lastcodeanalysissucceeded
