<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CH.Bson" version="1.6.0" />
  <package id="CH.Ioc.Infrastructure.Wiring" version="1.0.1" />
  <package id="mongocsharpdriver" version="1.7.1" />
  <package id="NUnit" version="2.6.2" />
  <package id="Red.Api.FieldMapper" version="1.0.4-pre005" />
  <package id="Red.Ex.DotNet" version="2.7" />
  <package id="Shouldly" version="1.1.1.1" />
</packages>